@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-ctaBtn: #4a5a40;
  --color-ctaBtnHover: #3b4b30;
  --color-olive: #4A5A40;
  --color-gold: #D9B382;
  --color-white: #F5F3EF;
  --color-rich-brown: #3C2F2F;
  --color-terracotta: #D96459;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #9b4212; /* Blue */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}



